[submodule "lib/qmqtt"]
	path = lib/qmqtt
	url = https://github.com/emqx/qmqtt.git
[submodule "lib/macdeployqtfix"]
	path = lib/macdeployqtfix
	url = https://github.com/iltommi/macdeployqtfix.git
[submodule "lib/semver.c"]
	path = lib/semver.c
	url = https://github.com/h2non/semver.c.git
